body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #ff6600; /* Naranja */
  text-align: center;
  margin-top: 20px;
}

form {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #ff6600; /* Naranja */
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

button:hover {
  background-color: #e65c00; /* Naranja más oscuro */
}

table {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #ff6600; /* Naranja */
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media (max-width: 600px) {
  form, table {
      width: 100%;
      margin: 10px;
  }

  th, td {
      padding: 8px;
  }

  button {
      font-size: 14px;
  }
}